asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.4
Django==4.2.11
djangorestframework==3.14.0
factory-boy==3.3.0
Faker==24.2.0
idna==3.6
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.10.0
urllib3==2.2.1
wikipedia==1.4.0
